
<% if gems.empty? %>
  <p>No gems found matching '<%= h gemname %>'</p>
<% else %>

  <% gemspec = gems.last %>
  
  <h2><%= h gemspec.name %> <%= h gemspec.version.to_s %></h2>
  <p class="gem-description"><%= h gemspec.description %></p>

  <table class="metadata horizontal">
	<tbody>
		<tr class="odd">
		    <th class="odd">Released</th>
		    <td class="even"><%= time_delta_string gemspec.date %> ago</td>
		</tr>
		<tr class="even">
		    <th class="odd">Author</th>
		    <td class="even"><%= h gemspec.author %></td>
		</tr>
		<tr class="odd">
		    <th class="odd">Dependencies</th>
	    <% if gemspec.dependencies.empty? %>
		    <td class="even">None.</td>
	    <% else %>
		    <td class="even">
					<ul class="dependencies">
				<% gemspec.dependencies.sort_by {|dep| dep.name }.each do |dep| %>
			      <li>
							<span class="dep-name"><%= h dep.name %></span>
							<span class="dep-details">
								<span class="dep-requirement"><%= h dep.requirement %></span>,
								<span class="dep-type"><%= h dep.type %></span>
							</span>
						</li>
				<% end %>
					</ul>
	    <% end %>
				</td>
	
		</tr>
	</tbody>
  </table>

  <% if gems.length > 1 %>
  <h3>Other Matches For <%= dependency.to_s %></h3>

  <table id="details-gemindex" class="gemindex">
    <thead>
      <tr>
        <th class="odd">Name</th>
        <th class="even">Version</th>
        <th class="odd">Description</th>
      </tr>
    </thead>

    <tbody>
    <% gems[0..-2].each_with_index do |gemspec, i| %>
    <% if (i % 2).nonzero? %>
      <tr class="odd">
    <% else %>
      <tr class="even">
    <% end %>
        <td class="gem-name odd">
          <a href="/details/<%= gemspec.name %>"><%= h gemspec.name %></a>
        </td>
        <td class="gem-version even"><%= gemspec.version %></td>
        <td class="gem-description odd"><%= gemspec.summary %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>

<% end %>

