<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<% if name = config['name'] %>
	<title>Gemserver: <%= name %></title>
<% else %>
  <title>Gemserver: <%= Socket.gethostname %></title>
<% end %>

  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

	<link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" 
		title="master" charset="utf-8" />

</head>
<body>

	<header>

		<hgroup>
			<h1>Gemserver</h1>
<% if name = config['name'] %>
			<h2><%= name %></h2>
<% else %>
			<h2><%= Socket.gethostname %></h2>
<% end %>
		</hgroup>

	</header>

	<nav>
		<ul>
			<li><a href="/">&#x2191; Index</a></li>
		</ul>
	</nav>

	<section id="main">
		<%= yield %>
	</section>

	<section id="upload">
		<div id="dropzone">
			<img src="/images/upload-arrow.png" width="256" height="256" alt="Upload!" />
		</div>

		<div id="upload-progress">
		</div>
	</section>

	<aside id="error-notice"><div></div></aside>

	<footer>
		<p>
			<span class="name">Gemserver</span>
			<span class="vcsrev">$Revision$</span>
		</p>
	</footer>

	<script src="/js/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/jquery.tools-1.2.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/jquery.filedrop.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/jquery.progressbar.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/gemserver.js" type="text/javascript" charset="utf-8"></script>
		
</body>
</html>
